body {
	margin: 0;
}
.box {
	background-color: yellow; 
	height: 80px;
	width: 200px;
	padding: 15px;
    display: inline-block;
    margin:10px;
}
.yellow {
	background-color: yellow;
} 
.rojo {
	background-color: red;
	height:80px;
	width: 200px;
}

